* {
    color:#297373
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:1.4rem;
    background-color: #E6E6E6;
}


/*---------------------------------------------------------------Navbar styles*/

nav {
    font-family: 'Young Serif', serif;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.logo-container {
    max-height: 25vh;
    margin-bottom: 3rem;
    justify-content: center;
}

#logo-text {
    text-align: center;
    color: #297373;
}

#logo {
    margin-top: 1rem;
}

.navbar-collapse{
    margin-left: 2rem;
    margin-top: 2rem;
}

.navbar-expand-md{
    flex-wrap: wrap;
}

.navbar-nav{
    width: 100%;
    justify-content: space-around;
}


/*---------------------------------------------------------------Footer styles*/
.social-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

footer i {
    color:#297373;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


/*---------------------------------------------------------------Browse recipes styles*/

card-img-top{
    height: 20vh;
    object-fit: cover;
}

.card-body{
    background-color: #eeecec;
}

.category{
    font-size: 1.3rem;
    border: 1.5px solid #C68C4F;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold !important;
}

.gio{
    height: 40vh;
}

.card-text-green{
    color: #297373;
    border-top: 2px solid #C68C4F;
}