{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="row hero-content d-flex justify-content-center">
        <div class="col-12 hero-image-container">
            <img src="https://res.cloudinary.com/dtfwxse8i/image/upload/v1710582033/hero-image_ffypsp.jpg" alt="hero-image" class="hero-image">
        </div>
    </div>
</div>
<div class="row browse-recipes-block">
    <div class="col-12 text-center">
        <h2>Recently shared by other users:</h2>
        <hr class="w-50" />
        <div class="row mx-2">
            {% for recipe in newly_added_recipes %}
            <div class="col-md-3 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="image-container mb03">
                            {% if "placeholder" in recipe.featured_image.url %}
                            <img class="card-img-top" src="https://res.cloudinary.com/dtfwxse8i/image/upload/v1710582397/recipe-image_pgfjgm.jpg">
                            {% else %}
                            <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                            {% endif %}
                        </div>
                        <a href="{% url 'recipe_list' recipe.slug %}" class="recipe-link text-decoration-none">
                            <div class="card-title">
                                <p>{{ recipe.title }}</p>
                            </div>
                            <div class="card-description text-muted">
                                {{ recipe.description | capfirst | truncatechars:50 | add:"..." | safe }}
                            </div>
                        </a>
                        <div class="card-body">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row signup-cta-block text-center">
    <div class="col-12 w-100">
        <h2 class="lh-base mt-3">Create an account now to use SavorySpoonfuls and start saving your recipes!</h2>
        <a href="{% url 'account_signup' %}">
        <button type="button" class="btn btn-outline-dark signup-btn fs-2 fw-bold text-uppercase">Sign Up</button>
        </a>
    </div>
</div>

{% endblock %}